/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900 */

/* .figtree-<uniquifier> {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
    margin: 0;
    padding: 0;
}