* {
    margin: 0;
    padding: 0;
}

html, body {
    height:100%;
}

main {
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(47, 88%, 63%);
}

.preview-card-container {
    max-width:384px;
    height:522px;
    border:1px black solid;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 24px 24px;
    background-color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    border: hsl(0, 0%, 7%) outset;
    border-width: 1px 8px 8px 1px;
}

.preview-card-container img {
    width:100%;
    height: 200px;
    border-radius: 10px;
}

.preview-card-content {
    width:336px;
    height:194px;
    margin-top:24px;
    margin-bottom: 24px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
}

.category {
    width:82px;
    height: 29px;
    text-align: center;
    border-radius: 4px;
    background-color: hsl(47, 88%, 63%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category span {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1rem;
}

.publishdate span {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
    font-size: 0.875rem;
}

.title h1 {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5rem;
    color: hsl(0, 0%, 7%);
}

.title:hover > h1{
    color:hsl(47, 88%, 63%);
}

.description span {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    color: hsl(0, 0%, 50%);
    box-sizing: border-box;
}

.author-container {
    width:100%;
    height: 32px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.author-container img {
    width: 32px;
    height:32px;
}

.author-container span {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-left: 10px;
    font-size: 0.9rem;
}